/********************************
CONTACT US PAGE
********************************/
body {
    font-family: 'Roboto', sans-serif;
}

/* Style for Contact Form */
form {
    text-align: center;
    background-color: #CABBB7;
    width: 50%;
    margin: 30px auto;
    box-shadow: 5px 10px darkslategrey;
    border-radius: 5px;
}

/* Header */
.main_header{
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 2.5em;
    background-color: #C65252;
    color: white;
    height: 60px;
}

.header_logo {
    padding-top: 20px;
}

/* input & label */

fieldset {
    margin-top: 10px;
}

legend {
    background-color: #C65252;
    color: white;
    border-radius: 5px;
    padding: 7px;
    width: 200px;
}
label {
    font-weight: 700;
}

input {
    width: 60%;
    height: 25px;
    border-radius: 5px;
}

textarea {
    width: 60%;
    border-radius: 5px;
}

.btn {
    background-color: #C65252;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 1.1em;
    
}